@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" src ="C:\Users\Rhonswood\Downloads\Derrig_110319_18.jpg" />


<div id="center-wrap">
    <div id="picture">
        <div class="pic_transform">
            <div class="text_display">
                <h>
                    Software developer with the ability to effectively create,
                    implement and maintain programs and databases with the most current strategies and best practices.
                    A strong team-player attitude with the ability to engage with all levels of the organization.
                    Experienced in developing and supporting e-commerce channels and monitoring results,
                    with strong problem-solving abilities and attention to detail.
                </h>
            </div>
        </div>
    </div>
</div>
